</div>

<div class="footer-padding"></div>
<div class="footer">
  <p>Made with ❤️ by Gaurav Bhaskar</p>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>